---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio · by Juan Bautista">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        alt="Juan Bautista"
        src="https://avatars.githubusercontent.com/u/25453699?v=4"
      />
      <h1
        class="text-white text-5xl font-bold justify-center flex flex-row gap-x-4 pb-8"
      >
        Hola, soy Juan Bautista <a
          href="https://www.linkedin.com/in/juan-bautista-garcia-traver"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap pb-4">
        <span class="text-blue-100/90"
          >Desarrollador web Full-Stack y apasionado por la IA.</span
        ><span> De Burriana, España.</span>
        <span class="text-emerald-100/90"
          >Especializado en crear aplicaciones web únicas.</span
        >
      </h2>
      <nav class="flex gap-x-2">
        <SocialPill
          href="https://www.linkedin.com/in/juan-bautista-garcia-traver"
        >
          <LinkedInIcon class="w-6 h-6" />LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/bautista225">
          <GitHubIcon class="w-6 h-6" />GitHub
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
