<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full md:text-sm text-xs font-light text-white/80 bg-violet-950/70 rounded-full cursor-pointer hover:bg-violet-950 transition backdrop-blur-3xl whitespace-nowrap px-2 py-1"
    >
      <slot />
    </div>
  </span>
</div>
