<!-- <span
  class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-light sm:font-medium me-2 px-2 py-1 rounded dark:bg-blue-900 dark:text-blue-200 dark:hover:bg-blue-700 transition"
  ><slot />
</span> -->
<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[2px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full md:text-sm text-xs font-light text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-violet-950/70 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap px-2 py-1"
    >
      <slot />
    </div>
  </span>
</div>
<!-- #21554E -->
