---
import ExperienceTimelineItem from "./ExperienceTimelineItem.astro";
import { EXPERIENCES } from "../data/experiences";
---

<ol class="relative border-s border-gray-700 ml-3">
  {
    EXPERIENCES.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceTimelineItem {...experience} />
      </li>
    ))
  }
</ol>
