---
const navItems = [
  {
    title: "Inicio",
    label: "intro",
    url: "/#intro",
  },
  {
    title: "Experiencia",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Proyectos",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "Contacto",
    label: "contact",
    url: "mailto:miduga@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-5 md:mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full border border-white/10 text-gray-600 dark:text-gray-200 justify-center items-center dark:bg-neutral-900/30 backdrop-blur-sm bg-white/50"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-gray-500 dark:hover:text-purple-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Highlight the name of section in navbar when the viewport is on that section.

    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-blue-500");
            } else {
              item.classList.remove("text-blue-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      threshold: 0.5,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
