---
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
---

<img
  class="rounded-full size-24 shadow-lg mb-5"
  alt="Juan Bautista"
  src="https://avatars.githubusercontent.com/u/25453699?v=4"
/>
<h1
  class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 lg:pb-8"
>
  Hola, soy Juan Bautista <a
    href="https://www.linkedin.com/in/juan-bautista-garcia-traver"
    class="flex justify-center items-center"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[600px]">
  +3 años de experiencia.<span
    class="text-transparent bg-gradient-to-r from-cyan-600 to-purple-500 bg-clip-text"
  >
    Desarrollador web Full-Stack y apasionado por la IA</span
  ><span> de Burriana, España.</span>
  <span class="text-emerald-50/90"
    >Especializado en crear aplicaciones web únicas.</span
  >
</h2>
<nav class="flex gap-4 mt-5 md:mt-10 flex-wrap">
  <SocialPill href="https://www.linkedin.com/in/juan-bautista-garcia-traver">
    <LinkedInIcon class="size-4 md:size-5" />LinkedIn
  </SocialPill>

  <SocialPill href="https://github.com/bautista225">
    <GitHubIcon class="size-4 md:size-5" />GitHub
  </SocialPill>

  <SocialPill href="mailto:juangarciatraver@gmail.com">
    <MailIcon class="size-4 md:size-5" />juangarciatraver@gmail.com
  </SocialPill>
</nav>
