---
import { PROJECTS } from "../data/projects";
import ProjectItem from "./ProjectItem.astro";
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map((technology) => <ProjectItem {...technology} />)}
</div>
