---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}/code-svgrepo-com.svg`
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }

  html {
    font-family: "Onest variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    background: rgb(3, 2, 27);
    background: linear-gradient(
      180deg,
      rgba(3, 2, 27, 1) 0%,
      rgba(22, 22, 70, 1) 84%,
      rgba(48, 26, 68, 1) 100%
    );
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
